/////////////////////////////////////////////////
// ALIASES                                     //
/////////////////////////////////////////////////



$spacing:              $inuit-base-spacing-unit;
$spacing-half:         halve($spacing);
$spacing-double:       double($spacing);
$spacing-triple:       $spacing * 3;
$spacing-quadruple:    $spacing * 4;



/*$h1-size:              $inuit-heading-size-1;
$h2-size:              $inuit-heading-size-2;
$h3-size:              $inuit-heading-size-3;
$h4-size:              $inuit-heading-size-4;
$h5-size:              $inuit-heading-size-5;
$h6-size:              $inuit-heading-size-6;*/